body{
	background-color: rgb(126,24,20)
}

#box{
	background-color: rgb(126,24,20);
	border: 3px double white;
	height: 400px;
	width: 300px;
	padding: 10px;
	margin:25px auto;
	font-size: 32pt;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: white;

}

